body{
  font-family: 'Red Hat Display', sans-serif;
}

.navbar{
  margin-left: 24px;
  margin-right: 24px;
}

.gradient{
  background: rgb(53,67,144);
  background: linear-gradient(90deg, rgba(53,67,144,1) 0%, rgba(21,29,92,1) 100%);
}

.nav-item {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 600;
  font-size: 20px;
  
}

.nav-item a{
  color: white !important;
}

.nav-item a:hover{
  color: antiquewhite !important;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  background: #59BB9F;
  padding: 12px 30px 13px 30px;
  text-decoration: none;
}

.btn:hover {
  background: #459980;
  color: #ffffff;
}

.shadow{
  font-family: 'Red Hat Display', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-content{
  padding: 40px;
}

.main-content p{
  font-family:'Red Hat Display';
  font-weight: bold;
  font-size: 28px;
}

.para{
  color: #929292;
}

.color-white{
  color: #F1EFF7;
}

.card {
border-radius: 10%;
}

hr{
  width: 95%; 
  margin: auto; 
  color: #ffffff; 
  height: 2px;
}

.backBtn{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.backBtn:hover{
  color: #929292;
}